<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/skeleton.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="eight columns">
                <h1><a href="/"> Figures of Style Demo</a></h1>
            </div>
            <div class="four columns" style="margin-top: 1.5rem">
                <a href="{{ url_for('login') }}" class="button">Log In</a>
                <a href="{{ url_for('register') }}" class="button">Register</a>
            </div>
        </div>
        <div class="row">
            <form id="profile" method="post" action="{{ url_for('create') }}">
                <div class="row">
                    <h5>Project Name</h5>
                    <input type="text" name="projectname" placeholder="Name">
                </div>
                <div class="row">
                    <h5>Add Taste Profiles</h5>
                    <div class="collapsible">
                        <div class="header row">
                            <h6 class="eight columns title">Unnamed</h6>
                            <div class="four columns">
                                <div class="u-pull-right">
                                    <span class="button edit">Done</span>
                                    <span class="button button-primary delete">Delete</span>
                                </div>
                                <div class="u-cf"></div>
                            </div>
                        </div>
                        <div class="content row">
                            <h6>
                                <strong>Source</strong> - 
                                <em>can either create from scratch, attach to existing user, or import from preexisting project</em>
                            </h6>
                            <div class="six columns shrink">
                                <input type="radio" name="comptype" value="fromname" checked>
                                <span style="margin-left: 1rem">Name</span>
                                <input class="u-full-width choose-name" type="text" name="username" placeholder="Name">
                            </div>
                            <div class="six columns shrink">
                                <input type="radio" name="comptype" value="fromaccount">
                                <span style="margin-left: 1rem">Account</span>
                                <select name="account" class="u-full-width select-account">
                                    <option selected disabled>Users:</option>
                                    {% for u in users %}
                                    <option value="{{ u.name }}">{{ u.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div id="custom-list" class="content row">
                            <h6>
                                <strong>Taste Profile Media List</strong> - 
                                <em>temp: has to have 25 items</em>
                            </h6>
                            <table class="u-full-width media-list">
                                <thead>
                                    <tr>
                                        <th class="mini"></th>
                                        <th class="wide">Name</th>
                                        <th class="wide">Type</th>
                                        <th class="narrow">Weight</th>
                                        <th class="narrow">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><h6 class="numeric">1</h6></td>
                                        <td>
                                            <input type="text" name="medianame" placeholder="Name">
                                        </td>
                                        <td>
                                            <select name="mediatype">
                                                <option>Film</option>
                                                <option>Anime</option>
                                                <option>Literature</option>
                                                <option>Western Animation</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" step="0.1" name="mediaweight" min="0" max="1" value=1>
                                        </td>
                                        <td><span class="button remove-media">X</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="button button-primary u-pull-right add-new-row">Add New Row</div>
                            <div class="u-cf"></div>
                        </div>
                        <div id="import" class="content row off unused">
                            <h3>Test</h3>
                        </div>
                    </div>
                </div>
                <span id="new-profile" class="button">Add New Profile</span>
                <span id="import-project" class="button">Import Project</span>
                <button type="submit" id="confirm" class="button button-primary end-button off">Confirm</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var newCollapsible = $('.collapsible').prop('outerHTML');
            var newRow = $('.media-list > tbody > tr').prop('outerHTML'); 
            var newRowIndex = 2;

            $('.edit').on('click', collapseSection);
            $('.add-new-row').on('click', addNewRow);
            $('.button.remove-media').on('click', removeMedia);
            setChangeName($('.select-account'), $('input[value="fromaccount"]'));
            setChangeName($('.choose-name'), $('input[value="fromname"]'));

            $('#new-profile').on('click', function() {
                var $collapse = $('.collapsible:not(".collapsed")');
                $collapse.addClass('collapsed');
                $collapse.find('.content:not(".unused"), hr').addClass('off');
                $collapse.find('.edit').text('Edit');

                var $insert = $(newCollapsible);
                $insert.insertAfter($('.collapsible:last-child'));
                $insert.find('.edit').on('click', collapseSection);
                $insert.find('.add-new-row').on('click', addNewRow);
                $insert.find('.button.remove-media').on('click', removeMedia);
                setChangeName($insert.find('.select-account'), $insert.find('input[value="fromaccount"]'));
                setChangeName($insert.find('.choose-name'), $insert.find('input[value="fromname"]'));
            });

            $('#import-project').on('click', function() {

            });

            function addNewRow() {
                var $insert = $(newRow);
                $(this).prev().find('tbody').append($insert);
                $insert.find('.numeric').text(newRowIndex);
                newRowIndex++;
                $insert.find('.button.remove-media').on('click', removeMedia);
            }

            function setChangeName(s, f) {
                s.on('click', function() {
                    f[0].checked = true;
                    changeName(s);
                });
                s.on('change', function() { changeName(s); });
                f.on('click', function() { changeName(s); });
            }

            function collapseSection() {
                var $parent = $(this).parents('.collapsible');
                if($parent.hasClass('collapsed')) {
                    $parent.removeClass('collapsed');
                    $parent.find('.content:not(".unused"), hr').removeClass('off');
                    $(this).text('Done');
                } else {
                    $parent.addClass('collapsed');
                    $parent.find('.content:not(".unused"), hr').addClass('off');
                    $(this).text('Edit');
                }
            }

            function changeName(el) {
                var val = el.val();
                if(val == '' || val == null) val = 'Unnamed';
                el.parents('.collapsible').find('.title').text(val);
            }

            function removeMedia() {
                var $this = $(this);
                var pos = $this.parents('tr').find('.numeric').text();
                $this.parents('tbody').children().slice(pos).each(function() {
                    var num = $(this).find('.numeric');
                    num.text(num.text() - 1);
                });
                newRowIndex--;
                $this.parents('tr').remove();
            }

        });
    </script>
</body>
</html>
