{% extends "home.html" %}

{% block container %}
    <form>
        <div class="row">
            <h5>Project Name</h5>
            <input type="text" name="name" placeholder="name">
        </div>
        <div class="row">
            <h5>Add Members (limit 1)</h5>
            <span id="newExisting" class="button start-button">Existing Taste Profile</span>
            <span id="newCustom" class="button start-button">Custom List</span>
        </div>
        <div id="newExistingInput" class="row" style="display:none">
            <label>Choose Existing Taste Profile</label>
            <select id="select-project">
                <option selected disabled>Profiles:</option>
                {% for p in profiles %}
                <option value="{{ p.name }}">{{ p.name }}</option>
                {% endfor %}
            </select>
            <p id="existingPreview">Show preview of this profile</p>
        </div>
        <div id="newCustomInput"style="display:none">
            <div class="row">
                <h6>
                    <strong>Member Name</strong> - 
                    <em>can either create from scratch or attach to existing user</em>
                </h6>
                <div class="five columns">
                    <input type="radio" name="customtype" value="fromname">
                        <span style="margin-left: 1rem">Name</span>
                    </input>
                    <input class="u-full-width" type="text" name="username" placeholder="Name">
                </div>
                <div class="one column" style="text-align:center;">
                    <h6 style="margin-top:75%">OR</h6>
                </div>
                <div class="five columns">
                    <input type="radio" name="customtype" value="fromaccount">
                        <span style="margin-left: 1rem">Account</span>
                    </input>
                    <select id="select-account" name="account" class="u-full-width">
                        <option selected disabled>Users:</option>
                        {% for u in users %}
                        <option value="{{ u.name }}">{{ u.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <h6>
                    <strong>Member Media List</strong> - 
                    <em>temp: has to have 25 items</em>
                </h6>
                <table id="media-list" class="u-full-width">
                    <thead>
                        <tr>
                            <th class="wide">Name</th>
                            <th class="wide">Type</th>
                            <th class="narrow">Weight</th>
                            <th class="narrow">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" placeholder="Name">
                            </td>
                            <td>
                                <select>
                                    <option>Film</option>
                                    <option>Anime</option>
                                    <option>Literature</option>
                                    <option>Western Animation</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" step="0.1" name="count" min="0" max="1" value=1>
                            </td>
                            <td><span class="button remove-media">X</span></td>
                        </tr>
                    </tbody>
                </table>
                <div id="add-new-row" class="button button-primary u-pull-right">Add New Row</div>
                <div class="u-cf"></div>
            </div>
        </div>

        <span id="cancel" class="button end-button off">Cancel</span>
        <button type="submit" id="confirm" class="button button-primary end-button off">Confirm</button>
    </form>

{% endblock container %}

{% block jscustom %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var $nEI = $('#newExistingInput');
            var $nCI = $('#newCustomInput');
            var $sB = $('.start-button');
            var $eB = $('.end-button');
            var newRow = ' \
                <tr> \
                    <td> \
                        <input type="text" placeholder="Name"> \
                    </td> \
                    <td> \
                        <select> \
                            <option>Film</option> \
                            <option>Anime</option> \
                            <option>Literature</option> \
                            <option>Western Animation</option> \
                        </select> \
                    </td> \
                    <td> \
                        <input type="number" step="0.1" name="count" min="0" max="1" value=1> \
                    </td> \
                    <td><span class="button remove-media">X</span></td> \
                </tr>';

            function cancelAdd() {
                $nCI.add($nEI).hide();
                $eB.addClass('off');
                $sB.removeClass('off');
            };

            function removeMedia(el) {
                el.parents('tr').remove();
            }

            $('#newExisting').on('click', function() { $nEI.show(); });
            $('#newCustom').on('click', function() { $nCI.show(); });

            $sB.on('click', function() {
                $eB.removeClass('off');
                $sB.addClass('off');
            });

            $('#cancel').on('click', function() {
                if($nCI.css('display') != 'none') {
                    $('input[name="customtype"]').prop('checked', false);
                    $('#select-account option:first').prop('selected', 'selected');
                    $('input[name="username"]').val('');
                } else {
                    $('#select-project option:first').prop('selected', 'selected');
                }
                cancelAdd();
            });                

            $('#add-new-row').on('click', function() {
                $('#media-list > tbody').append(newRow);
                $('#media-list > tbody > tr:last .button.remove-media').on('click', function() {
                    removeMedia($(this));
                });
            });

            $('.button.remove-media').on('click', function() {
                removeMedia($(this));
            });
        });
    </script>

{%endblock jscustom %}
