{% extends "index.html" %}

{% block custom_header %}
    <div class="two columns u-pull-right" style="margin-top: 1.5rem">
        <a href="{{ url_for('logout') }}" class="button">Log Out</a>
    </div>
    <div class="u-cf"></div>
{% endblock custom_header %}

{% block container %}

    <div class="row">
        <h3>Welcome, {{ user.name }}!</h3>
    </div>
    <div class="row">
        <div class="u-full-width">
		{% if user.projects|length == 0 %}
		<p>You have no taste profiles. Let's set one up! Click the link below.</p>
		{% else %}
		<ul>
			{% for project in user.projects %}
			<li>project name</li>
			{% endfor %}
		</ul>
		{% endif %}
		<a href="{{ url_for('create') }}" class="button">
			Create New
		</a>
        </div>
    </div>

{% endblock container %}
